* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background:   #B4D9EF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background:#F0F4FA;
    padding: 25px;
    width: 450px;
    border-radius: 15px;
    text-align: center;

}

#stopwatchduration {
    font-size: 55px;
    color: black;
    padding: 20px;

}

.lapsButtons {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.lapsButtons button {
   height: 45px;
   width: 25%;
   border-radius: 5px;
   background:#B4D9EF;
   border: none;
   outline: none;
   padding: 5px;
   margin:10px;
   cursor: pointer;
   font-size: 16px;
}

#laps {
    height: 200px;
    padding:10px;
    overflow:auto;
} 

#laps li {
    font-size: 22px;
    padding: 10px;
}

.hidden {
    display: none;
}

#stop,
#reset{
    background: #8D818C;
}
